	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	* {
  		margin: 0;
  		padding: 0;
	}
	.top {
  		height: 74px;
  		width: 100%;
  		background: #303030;
  		min-width: 950px;
	}
	.topwr {
 		width: 950px;
  		margin: 0px auto;
	}
	.imlogo {
  	width: 256px;
  	height: 70px;
  	display: inline-block;
  	float: left;
  	margin-top: 3px;
	}
	.reg-log {
		float: left;
	}
	.treg-log {
  		width: 430px;
  		padding: 16px 5px;
  		height: 42px;
  		position: relative;
  		color: white;
	}
	.separator {
  		background: url("/") left top no-repeat;
  		height: 74px;
  		color: white;
	}
	#top_btn_registration {
  		display: block;
  		height: 31px;
  		line-height: 31px;
		vertical-align: middle;
		color: wite;
		cursor: pointer;
		width: 112px;
		text-align: left;
		background: url('/img/') right 0 no-repeat;
		margin: 21px 138px 0 60px;
	}
	#top_btn_signin {
		height: 28px;
		margin: 7px 10px 0 0;
		display: block;
		padding-left: 30px;
		width: 70px;
		background: url('/img/') right top no-repeat;
		color: white;
		line-height: 28px;
		vertical-align: middle;
		cursor: pointer;
		margin: 22px 0 0 38px;
	}
	.tcont {
  		padding: 18px 0px;
  		color: #AAA;
  		text-align: right;
  		width: 240px;
	}
	.tcont a, .tcont a:visited {
  		color: #B4F500;
  		font-size: 20px;
  		font-weight: bold;
  		text-decoration: none;
	}
	.topmenuwrapper {
  		height: 49 px;
  		width: 100%;
  		background-color: #1b1b1e;
  		min-width: 950px;
  		box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}
	.topmenu {
  		width: 950px;
  		margin: 0px auto;
  		height: 43px;
  		padding-top: 12px;
  		position: relative;

	}
	ul {
  		margin: 0px;
  		list-style-position: inside;
	}

	li {
  		list-style: none;
  		box-sizing: border-box;
  		padding: 5px;
	}
	.topmenu li:hover{
		background-color: #FFF500;
		opacity: 0.99;
	}
	.topmenu li:hover a{
		color: black;
	}
	.topmenu li {
  		float: left;
  		height: 29px;
  		vertical-align: middle;
  		position: relative;
	}
	.topmenu a, .topmenu .period {
  		text-decoration: none;
  		font-size: 11px;
  		font-weight: bold;
  		height: 29px;
  		color: white;
	}
	.topmenu .bullet {
  		margin-left: 36px;
  		padding-left: 8px;
  		list-style-image: url('/img/bullet.png');
	}

	body {
		background-color: white;
		margin: 0px;
		padding: 0px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: white;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}
		.bottombg {
  		height: 100px;
  		width: 100%;
  		background: #1b1b1e;
  		min-width: 950px;
	}
	.bottomwrapper {
  		width: 950px;
  		margin: 0px auto;
  		color: #797979;
  		font-size: 12px;
	}
	.footercontact {
  		width: 225px;
 		color: white;
  		padding-top: 22px;
  		text-align: right;
	}
	.float-left{
		float:left;
	}
	.float-right {
  		float: right;
	}
	.footercontact a, .footercontact a:visited {
  		color: #B4F500;
  		font-size: 20px;
  		font-weight: bold;
  		text-decoration: none;
	}
	.bottomwrapper table {
  		width: 504px;
  		height: 79px;
  		margin-top: 8px;
	}
	tbody {
  		display: table-row-group;
  		vertical-align: middle;
  		border-color: inherit;
	}
	.footer-header-td {
		opacity: 0.75;
  		font-size: 8pt;
  		font-family: Helvetica, Arial, sans-serif;
  		color: #B4F500;
	}
	.footer-td {
  		font-size: 8pt;
  		font-family: Helvetica, Arial, sans-serif;
  		color: #aaa;
  		text-decoration: none;
  		margin-right: 15px;
}
	#midmenu{
  		width: 950px;
  		margin: 0px auto;
  		padding-top: 10px;
  		height: 190px;
 		position: relative;
	}
	#midmenu ul{
		margin: 0px;
  		list-style-position: inside;
	}
	#midmenu li{
		background-color: rgba(184, 41, 0, 0.9);	
		width: 316px;
		float: left;
  		height: 100px;
  		vertical-align: middle;
  		-moz-transition: background-color 0.75s 0.05s ease;
		-o-transition: background-color 0.75s 0.05s ease;
		-webkit-transition: background-color 0.75s 0.05s ease;
	}
	#midmenu .amidli{
		padding-top:38px;
		padding-left:110px; 
	}
	#midmenu .bmidli{
		border-left: 1px dotted rgba(255,255,255,0.5);
		padding-top:38px;
		padding-left:60px; 
	}
	#midmenu .cmidli{
		border-left: 1px dotted rgba(255,255,255,0.5);
		padding-top:38px;
		padding-left:100px; 
	}
	#midmenu li:hover{
		background:rgba(255, 94, 47, 1);
		box-shadow: 5px 0 10px rgba(0,0,0,0.6); 
	}
	#midmenu li a{
		color:white;
		text-shadow: 0 0 6px rgba(0,0,0,0.6);
		text-decoration: none;
		font-size: 22px;
		font-family:Helvetica, Arial, sans-serif;
	}